#hiddenattemptform{
    display:none
}
.spaceitleft{
    margin-left:1em;
}
.spaceitright{
    margin-right:1em;
}
.spaceabove5em{
    margin-top:5em;
}
.spaceabove2em{
    margin-top:2em;
}
/*body{
 background-color:#bbaa22;
 color:#335511;
 font-size:1.2em;
 line-height:1.4em;
 }   
hr
{
    background-color: #335511;
    height: 0.1em;
    border-width: 0em;
    border-style: solid;
}
a:link              { color:#6F187B; text-decoration:underline; }
a:visited           { color:#6F187B; text-decoration:underline; }
a:hover             { color:#410149; text-decoration:underline; }
a:active            { color:#410149; text-decoration:underline; }

.spspbutton{
    height:2.8em;
    margin:0.7em;
    padding:0.7em;
}
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
*/
