{% extends "basebootstrap.html" %}
{% load i18n %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.1/howler.core.min.js"></script>
    <script>
    var sound = new Howl({
        src: ['https://s3-us-west-1.amazonaws.com/spellsplash/banana.mp3']
    });
    sound.play();

    var arrUrl = [];
    {% for word in object_list %}
    arrUrl.push('{{ word.soundsource }}')
    {% endfor %}

    </script>
{% endblock %}

{% block content %}


<form class="form-inline">
  <div class="form-group">
    <label for="spellingattempt">Spell the word here</label>
    <input type="text" class="form-control" id="spellingattempt" placeholder="Type your spelling here ...">
  </div>
  <button type="listenagain" class="btn btn-info spaceitleft">Listen Again</button>
  <button type="submit" class="btn btn-primary spaceitleft">Submit</button>
</form>

<div id="hiddenattemptform">
    <form method="post" action="{% url 'spellweb:attemptsubmission' %}">
    {% csrf_token %}
        <fieldset>
             <legend>Record your Attempts</legend>
            {{ formset.management_form }}
            <table>
            {% for form in formset %}
            <script>
                arrUrl.push('{{ word.soundsource }}')
            </script>
            <tr>
                <td>{{ form.word.value }}</td>
                {% if form.hint.strip %}
                    <td>({{ form.hint.value }})</td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                <td>
                    <label for="{{ form.success.id_for_label }}">Success?:</label> 
                    <input id="{{ form.success.id_for_label }}" name="{{ form.success.html_name }}" type="checkbox" />
                <span>
                <input id="{{ form.wordid.id_for_wordid }}" name="{{ form.wordid.html_name }}" type="hidden" value="{{ form.wordid.value }}" />
                </td>
                </span>
                </p>
            </tr>
            {% endfor %}
            </table>
        </fieldset>
        <input class="spspbutton" type="submit" value="Submit Your Results" />
        <a href="{% url 'spellweb:index' %}"><button class="spspbutton" type="button">Cancel</button></a>
    </form>
</div>
{% endblock %}
