
{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% csrf_token %}

<h1>Attempts</h1>
<a href="{% url 'spellweb:attcrea'  %}">Keep practicing your spelling by clicking here</a>
<table>
{% for attempt in object_list %}
    <tr>
        <td>
            {{ attempt.word.word }}
        </td>
        <td>
            {{ attempt.when|date }} {{ attempt.when|time }}</li>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan=2>
            No attempts yet.
        </td>
    </tr>
{% endfor %}
</table>



{% endblock %}
