{% extends "basebootstrap.html" %}
{% load i18n %}

{% block content %}
<h2>Welcome to Spellsplash !</h2>
<p>You are at learning level : {{ lrng_lvl }} using the word set : {{ word_set }}</p> 
<p class="lead"><a href="{% url 'spellweb:attemptonebyone' %}">Keep practicing your spelling by clicking here</a></p> 
{% endblock %}
