{% extends "base.html" %}
{% load i18n %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.1/howler.core.min.js"></script>
    <script>
    var sound = new Howl({
        src: ['https://s3-us-west-1.amazonaws.com/spellsplash/banana.mp3']
    });
    sound.play();

    var arrUrl = [];
    {% for word in object_list %}
    arrUrl.push('{{ word.soundsource }}')
    {% endfor %}

    </script>
{% endblock %}

{% block content %}
    <h2>Spellsplash Audio Test</h2>
     <p>Plays a remote audio using the howler js library.</p> 
     <table>
    {% for word in object_list %}
        <tr>
            <td>
                {{ word.word }}
            </td>
            <td>
                {{ word.soundsource }}</li>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan=2>
                No attempts yet.
            </td>
        </tr>
    {% endfor %}
     </table>
{% endblock %}
