{% extends "base.html" %}
{% load i18n %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.1/howler.core.min.js"></script>
    <script>
    var sound = new Howl({
        src: ['http://ssl.gstatic.com/dictionary/static/sounds/de/0/study.mp3']
    });
    sound.play();
    </script>
{% endblock %}

{% block content %}
    <h2>Spellsplash Audio Test</h2>
     <p>Plays a remote audio using the howler js library.</p> 
{% endblock %}
