{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>{% block title %}User test{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/readable/bootstrap.min.css" rel="stylesheet" integrity="sha384-Li5uVfY2bSkD3WQyiHX8tJd0aMF91rMrQP5aAewFkHkVSTT2TmD2PehZeMmm7aiL" crossorigin="anonymous">

    <link href="{{ STATIC_URL }}css/spellsplash.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="{{ STATIC_URL }}js/spellsplash-universal.js" ></script>


    {% block head %}
    {% endblock %}

</head>

<body>
    <div class="container">
        <!-- Navbar Start -->
        <div id="custom-bootstrap-menu" class="navbar navbar-inverse " role="navigation">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand" href="#">SpellSplash</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-menubuilder">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="{% url 'spellweb:index' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'spellweb:displayresults' %}">View Results</a> 
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li>
                            <p class="navbar-text"><em>Signed in as {{ user.username }}</em></p>
                        </li>
                        <li>
                            <a href="{% url 'auth_logout' %}">Logout</a>
                        </li>
                        <li>
                            <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Navbar End   -->

        <!-- Content Start   -->
        <div id="content span-20">
            {% block content %}
            {% endblock %}
        </div>
        <!-- Content End     -->

        <!-- Footer Start   -->
        <div id="footer">
            {% block footer %}
            <hr />
            {% endblock %}
        </div>
        <!-- Footer End   -->
    </div>
</body>

</html>
