{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link href="{{ STATIC_URL }}css/djrt2base.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link href="{{ STATIC_URL }}css/spellsplash.css" rel="stylesheet" type="text/css" media="screen" />
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}

</head>

<body>
    <div class="container">
        <div id="header">
            {% block header %}
            <a href="{% url 'spellweb:index' %}">{% trans "Home" %}</a> | 
            <a href="{% url 'spellweb:displayresults' %}">{% trans "View Results" %}</a> | 

            {% if user.is_authenticated %}
            {% trans "Logged in" %}: {{ user.username }} 
            (<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a>) | 
            <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>
            {% else %}
            <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
            {% endif %}
            <hr />
            {% endblock %}
        </div>
        <div id="content span-20">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
            <hr />
            {% endblock %}
        </div>
    </div>
</body>

</html>
